.section,
.works {
  padding-bottom: 94px;
}
.section {
  padding-top: 94px;
}
.section__title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: $title-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section__list {
  display: flex;
}
.section__text {
  margin: 0;
  color: $text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section__feature {
  margin: 0;
  width: 270px;
  margin-right: 30px;
  justify-content: space-between;
}
.section__feature:last-child {
  margin-right: 0;
}
.feature-icons {
  display: flex;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4f4;
}
